.pip-loading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
}

pip-picture-edit {
    margin: 0 auto;
}

.change-password-btn {
    align-self: flex-end;
    text-transform: uppercase;
}