<h1 mat-dialog-title class="pip-header">{{ 'CHANGE_PASSWORD' | translate }}</h1>
<div mat-dialog-content class="pip-content">
  <mat-progress-bar mode="indeterminate" class="pip-loading" *ngIf="loading$ | async"></mat-progress-bar>
  <p *ngIf="error" class="pip-error">
    {{ (error.message || error) | translate}}
  </p>
  <form fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
    <mat-form-field>
      <input matInput [placeholder]="'CHANGE_PASSWORD_OLD_PASSWORD' | translate" formControlName="old" type="password"
             required>
      <mat-error *ngIf="hasError('old', 'required')">{{'CHANGE_PASSWORD_OLD_PASSWORD_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="hasError('old', 'pattern')">{{'CHANGE_PASSWORD_OLD_PASSWORD_PATTERN' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [placeholder]="'CHANGE_PASSWORD_NEW_PASSWORD' | translate" formControlName="new" type="password"
             required>
      <mat-error *ngIf="hasError('new', 'required')">{{'CHANGE_PASSWORD_NEW_PASSWORD_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="hasError('new', 'pattern')">{{'CHANGE_PASSWORD_NEW_PASSWORD_PATTERN' | translate}}</mat-error>
      <mat-error *ngIf="hasError('new', 'same')">{{'CHANGE_PASSWORD_NEW_PASSWORD_SAME' | translate}}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" [disabled]="loading$ | async">{{ 'CHANGE_PASSWORD_CANCEL' | translate }}</button>
  <button mat-button (click)="onSubmit()" [disabled]="!form.valid || (loading$ | async)" cdkFocusInitial>{{
    'CHANGE_PASSWORD_RESET' | translate }}</button>
</div>